body {
    background-color: var(--background-color);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 75ch;
}

a {
    color: var(--container-backdrop);
    text-decoration: none
}

p {
    margin-top: 0.5rem;
}

h1 {
    margin-top: 0.5rem;
}

h3,
h2 {
    margin-bottom: 0rem;
}

pre {
    margin-top: 0.5rem;
    white-space: pre-wrap;
}

.hero-text {
    order: 2;
}

.hero-img {
    order: 1;
}

.centered {
    text-align: center;
    display: block;
}

li::marker {
    content: '- ';
    font-size: 1.2em;
}

img {
    width: 100%;
}

@media screen and (min-width:768px) {
    .hero-text {
        order: 1;
    }

    .hero-img {
        order: 2;
    }
}

@media screen and (min-width:768px) {
    body {
        width: 70%;
    }
}

@media screen and (min-width:1920px) {
    body {
        width: 60%;
    }
}

@media screen and (min-width:2304px) {
    body {
        width: 50%;
    }
}

.main {
    margin: 1vw;
}

@media screen and (min-width:768px) {
    .main {
        margin-top: 5rem;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:768px) {
    .hero-img {
        max-width: 300px;
    }
}

.flag {
    width: 2.3rem;
    height: 1.7rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

.footer {
    padding: 1rem;
    font-size: 0.75rem;
    color: var(--nord4);
    text-align: center;
}

.footer p {
    line-height: 1rem;
}

.footer img {
    border-radius: 0;
    width: 88px;
    height: 31px;
    margin: 0;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.section {
    background-color: var(--container-bg);
    box-shadow: 16px 16px var(--container-backdrop);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 4em;
}

:root {
    --background-color: #19191e;
    --container-bg: #302D33;
    --container-header-bg: var(--container-bg);
    --container-header-color: #fafafa;
    --container-backdrop: #04A7E7;
    --text-color: #fafafa
}

body[colorscheme="purple"] {
    --background-color: #19191e;
    --container-bg: #242432;
    --container-header-bg: var(--container-bg);
    --container-header-color: #fafafa;
    --container-backdrop: #9b5efd;
    --text-color: #fafafa
}

body[colorscheme="red"] {
    --background-color: #191516;
    --container-bg: #2a2432;
    --container-header-bg: var(--container-bg);
    --container-header-color: #fafafa;
    --container-backdrop: #ff5757;
    --text-color: #fafafa
}

body[colorscheme="pink"] {
    --background-color: #19191e;
    --container-bg: #2e2833;
    --container-header-bg: var(--container-bg);
    --container-header-color: #fafafa;
    --container-backdrop: #ffa7d1;
    --text-color: #fafafa
}

body[colorscheme="white"] {
    --background-color: #282626;
    --container-bg: #fafafa;
    --container-header-bg: var(--container-bg);
    --container-header-color: #191919;
    --container-backdrop: #000000;
    --text-color: #191919
}

body[colorscheme="white"] .themecolors div[theme="white"] {
    border: 1px solid #191919;
}

.themecolors {
    bottom: 16px;
    left: 16px;
    display: block;
    margin: auto;
    position: absolute;
}

.themecolors div {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 8px;
}

.themecolors div:hover {
    cursor: pointer;
}